.app{
  display:flex;
  flex-direction:column;
  background:white;
  color:#4e4646;
}
.nav{
  height:4em;
  display:flex;
  justify-content: space-around;
  align-items:center;
  background:rgba(0,0,0,.3);
  color:#fff;
}
.nav h3{
  font-size:2em;
  font-weight: bold;
}
.nav form{
  background:transparent;
  display:flex;
  align-items:center;
}
.nav form input{
  border:none;
  padding:10px;
  background:#fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius:10px;
}
.nav form input:focus{
  border:none;
}
.nav form button{
  border:none;
  padding:10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background:#000;
  color:#fff;
  font-weight:bold;
}
.body{
  display:flex;
  justify-content: center;
  align-items:center;
  margin: 2em auto;
  flex-direction: column;
  background-image: transparent;
}
.card{
  background:rgb(206, 201, 201);
  width: 70%;
  margin:10px auto;
  padding:2em;
  border-radius: 10px;
}
.card_title{
  font-size: 2em;
  font-weight: bold;
}
.card_subtitle{
  font-size: 1em;
  font-weight: bold;
}
.footer{
  background:rgba(0,0,0,.3);
  color:#fff;
  display:flex;
  justify-content: center;
  color:#4e4646;
  padding: 2em;
  align-items: center;
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
}
.footer p{
  font-size:15px
}